ORDERS_API_PORT=PORT

MONGO_INITDB_DATABASE=DB

# Kafka (KRaft single-node settings - fine for local development only)
KAFKA_LISTENERS=CONTROLLER://HOST:PORT,HOST://HOST:PORT,DOCKER://HOST:PORT
KAFKA_ADVERTISED_LISTENERS=HOST://HOST:PORT,DOCKER://kafka:PORT
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_CONTROLLER_QUORUM_VOTERS=1@HOST:PORT
KAFKA_INTER_BROKER_LISTENER_NAME=DOCKER
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
 